@model ProjectVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<h1>Add Project</h1>

<form asp-action="Add" asp-controller="Project" method="post">

    <label class="form-label">Project Name</label>
    <input id="name" asp-for="Name" type="text" class="form-control" /><br />

    <div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label class="form-label">Location</label>
    <input id="Location" asp-for="Location" type="text" class="form-control" /><br />
    <div>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmLocation"></label>
        <input asp-for="ConfirmLocation" class="form-control" />
        <div>
            <span asp-validation-for="ConfirmLocation" class="text-danger"></span>
        </div>
    </div>
    <label class="form-label"> Department</label>

    @Html.DropDownListFor(p=>p.Dept_id ,ViewBag.Departments as SelectList,"Choose One",new{@class="form-control"})

    @*<select name="Dept_id" class="form-control">
    @foreach (var dept in ViewBag.Departments)
    {

    <option value="@dept.Number">@dept.Name</option>
    }
    </select><br />*@
    <br />
    <input type="submit" value="Add" class="btn btn-primary" />
</form>