@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <aside class="col-3" >
        <h2>You got @Context.Request.Cookies["stars"] Stars</h2>
        <p>You visited the Page :@Context.Request.Cookies["ReqNum"] times</p>
    </aside>
</div>
