@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/Employee/LoginEmployee">
            
        <label>First Name</label>
        <input id="fname" name="fname" type="text" class="form-control" /> 
            
        <label>SSN</label>     
        <input id="SSN" name="SSN" type="number" class="form-control" /><br />
        
        <input type="submit" value="Login" class="form-control-sm btn btn-primary" />

        </form>
    </body>
</html>